:root{
  --cordefundo_um:#ffff5f
  --cor_letra_de_fundo_escuro:#974B5F 
}
* {
  margin:0;
  padding:0;
}
.banner{
  width: 100%;
  height: 100px;
  background-color: var(--cordefundo_um);
}
.estudante {
  height: 90px;
}